extends layout

block content

  div(ng-app="IssueID" ng-controller="issueCtrl" layout="column")
    section(layout="row" flex ng-cloak)
      md-sidenav(class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')")
        md-toolbar(class="md-theme-indigo")
          h1#md-toolbar-tools Select:
        ul
          li
            h2 Issues
            h2 Add Issues
            h2 View Reports
      md-content(layout-padding)
        div
          ul
            li(ng-repeat="x in myIssues") 
              p {{x.issue}}
   
  // Angular Controllers
  script(src="javascripts/controller.js")
  



    
  