extends layout

block content
  md-content
    md-toolbar
      div(class="md-toolbar-tools")
        h2="Issue ID Tracker"
    div(layout="row" ng-cloak) 
      md-sidenav(class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')")
        md-toolbar(class="md-theme-blue")
          h2#md-toolbar-tools Teams
          md-list
            md-list-item(class="md-2-line", ng-repeat="x in myIssues | unique: 'team'")
              div(class="md-list-item-text")
                h4: a(href="/issuelist/{{x.team}}") {{x.team}}
              md-divider(ng-if="!$last")
          
      md-content
        div(ng-view)

      



    
  
